* {
	margin: 0 auto;
	padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

                            /* TOP SECTION CONTROLS 1 */

.section1 {
  height: 100vh;
}

.header {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.left {
  margin: 0 auto;
  text-align: left;
  height: auto;
}

.header-left {
  text-align: left;
}

.header-nav {
  margin: 10px;
  margin-top: 17px;
  color: #e1e1e1;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}

.header-nav:hover {
  opacity: .5;
  color: lightgrey;
}
                                    /*SIDE BAR CONTROLS*/

.icon-button, .sidebar {
  display: none;
}
.icon-button {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding: 10px;
    z-index: 10000;
    transition: .4s;
    color: #e1e1e1;
}

.sidebar {
  position: absolute;
  margin: 0 auto;
  margin-left: -150px;
  width: 135px;
  height: 100vh;
  text-align: center;
  background-color: rgba(255,255,255,0.6);
  overflow: hidden;
  transition: .4s;
}

.sidebar div {
  margin: 0 auto;
  margin-top: 10px;
  color: black;
  text-decoration:none;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-content div:hover {
  background-color: rgba(225, 225, 225, .6);
  text-decoration: none;
  cursor: pointer;
}

.sidebar-content {
 height: "";
}


.active {
  margin-left:0px;
}

.toggleBtnActive {
  margin-left: 75px;
}

.center {
  margin: 0 auto;
  text-align: center;
  height: auto;
}

.right {
  margin: 0 auto;
  text-align: right;
}

.header-background {
	height: 100vh;
	z-index: -1;
  width: 100%;
  position: absolute;
  background-color: #e1e1e1;
}

.greyH {
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

.greyH:hover {
  opacity: .5;
}

.bodyRow {
  text-align: center;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

.h3soft {
  padding: 0 auto;
  font-size: 15px;
  color: #e1e1e1;
  margin-top: 225px;
}

.h3heading {
  padding: 0 auto;
	font-size: 35px;
	color: #e1e1e1;
	width: 30%;
	display: block;
	text-align: center;
  margin-top: 235px;
  border: 1px #e1e1e1 solid;
}

.h3dev {
  padding: 0 auto;
	font-size: 15px;
	color: #e1e1e1;
	width: 30%;
  text-align: center;
  opacity: .6;
}

.social-media {
  position: absolute;
  right: 10px;
  bottom: 10px;
  vertical-align: inherit;
  width: auto;
}

.social-image {
  width: 25px;
  height: 25px;
  display: block;
  padding: 5px;
}

.social-image:hover {
  width: 30px;
  height: 30px;
  opacity: .5;
  z-index: 20;
}

/* SECTION 2 CONTROLS */

.section2 {
  height: 75vh;
}

.skills {
  position: absolute;
  z-index: 2;
  height: 75vh;
  width: 100%;
}

.front-end-img {
  width: 35px;
  height: 35px;
  margin: 10px;
}

.back-end-img {
  width: auto;
  height: 35px;
  margin: 15px;
}

.design-img {
  height: 40px;
  width: auto;
  margin: 10px;
}

#front-end-express {
  width: auto;
  margin: 0 auto;
}

.skills-header {
  margin: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.front-end {
  height: 50vh;
  margin: 0 auto;
  margin-top: 20px;
  background-color:#e1e1e1;
  width: 20vw;
  position: absolute;
  left: 40%;
  margin-bottom: 10px;
  border: .5px#f9f9f9 solid;
}

.back-end {
  height: 45vh;
  margin: 0 auto;
  margin-top: 35px;
  background-color:#e1e1e1;
  width: 18vw;
  position: absolute;
  left: 15%;
  margin-bottom: 10px;
  border: .5px#f9f9f9 solid;
}

.design {
  height: 45vh;
  margin: 0 auto;
  margin-top: 35px;
  background-color:#e1e1e1;
  width: 18vw;
  position: absolute;
  right: 15%;
  margin-bottom: 10px;
  border: .5px#f9f9f9 solid;
}

.front-end-header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
}

.front-end-skills {
  text-align: center;
  margin: 10px;
}

.back-end-skills {
  text-align: center;
  margin: 10px;
}

.design-skills {
  text-align: center;
  margin: 10px;
}

.frameworks-header {
  font-family: 'Raleway', sans-serif;
  margin: 10px;
}

.back-end-header {
  margin: 10px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.design-header {
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.exp-background {
	height: 75vh;
	z-index: -1;
  width: 100%;
  position: absolute;
  background-color: #e1e1e1;
}

























                                                                        /*MEDIA QUERIES*/
@media screen and (max-width: 600px) {
  .greyH {
    height: 35px;
    width: 35px;
  }

  .h3heading {
    width: 75%;
    margin-top: 250px;
  }

  .h3dev {
    width: 70%;
  }

  .background {
    height: 100vh;
  }

  .bodyRow {
    height: 100vh;
  }

  .social-media {
    margin: 0 auto;
  }

  .section1 {
    height: 100vh;
  }

  .header-left {
    display: none;
  }

  .icon-button, .sidebar {
    display: block;
  }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
  .greyH {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1600px) {
}